<table class='table' *ngIf="allNotes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Action</th>
            <th>Anatomic Object</th>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of allNotes">
            <td>...</td>
            <td>{{ note.time }}</td>
            <td>{{ note.action }}</td>
            <td>{{ note.anatomicName }}</td>
            <td>{{ note.vendorName }}</td>
        </tr>
    </tbody>
</table>
<button id="importVendor" class="btn btn-black" (click)="saveAll()">Save</button>
