<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Editor3D.WebUI</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/canvas']">
                        <span class='glyphicon glyphicon-education'></span> Canvas
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->


<div class="vendorList">
    <h1>Add Bracket</h1>
    <div class="selectDiv">
        <select id="selectOption" multiple=multiple size="10">
            <option class="option" value="defaultmessage"><img src="../../assets/ObjectNote.png"><span>Bracket 1</span></option>
            <option class="option" value="Bracket_3.babylon"><img src="../../assets/ObjectNote.png"><span>Bracket 2</span></option>
            <option class="option" value="Bracket_3.babylon"><img src="../../assets/ObjectNote.png"><span>Bracket 3</span></option>
            <option class="option" value="Bracket_3.babylon"><img src="../../assets/ObjectNote.png"><span>Bracket 4</span></option>
            <option class="option" value="Bracket_3.babylon"><img src="../../assets/ObjectNote.png"><span>Bracket 5</span></option>
            <option class="option" value="Bracket_3.babylon"><img src="../../assets/ObjectNote.png"><span>Bracket 6</span></option>

        </select>
    </div>
    <br>
    <button id="importVendor" class="btn btn-black" (click)="addVendor()">import</button>
</div>