/*li .glyphicon {
    margin-right: 10px;
}
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}*/

.vendorList {
    border: black 2px solid;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    text-align: center;
}

    .vendorList h1 {
        color: white;
        text-align: center;
        font-size: 30px;
    }

.select {
    width: 90%;
}

#selectOption {
    width: 100%;
    background: rgba(0,0,0,0.2);
    border: 0px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.option {
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;
    /* background-color: #35414a; */
    background-color: rgba(0,0,0,0.2);
    font-size: 20px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
    padding-bottom: 2px;
    padding-top: 2px;
}

    .option img {
        height: 40px;
    }

    .option:hover {
        background-color: rgba(100,100,255,0.5);
    }
