<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <counter></counter>
            <fetchdata></fetchdata>
            <!--<router-outlet></router-outlet>-->
        </div>
    </div>
</div>
